body {
    background-color: wheat;
    color: royalblue;
    font: normal 20pt Arial;
}
h1 {
    color: saddlebrown; /* comment */
}

div#area {
    font: normal 20pt Times;
    background: yellowgreen;
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin-bottom: 20px;
}
input[type="number"]{
    font: normal 18pt Arial;
    width: 100px;
}

input[type="button"] {
    font: normal 18pt Arial;
    width: 100px;
}

div#resultSoma {
    margin-top: 20px;
}



